.section-title-wrapper {
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.section-title {
    font-size: 40px;
    font-weight: 600;
    color: #F5F9FF;
    margin: 0;
}

.section-span {
    font-size: 40px;
    font-weight: 600;
    background: linear-gradient(white 0%,
            #83b7fcc8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px 0 0 0;
}

.section-subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #6C7492;
    margin: 10px 0 0 0;
    max-width: 400px;
    opacity: 50%;
}

@media (max-width: 1024px) {
    .section-title {
        font-size: 42px;
    }
}

@media (max-width: 768px) {
    .section-title {
        font-size: 38px;
    }

    .section-subtitle {
        font-size: 17px;
    }

    .title-underline {
        width: 100px;
        height: 3px;
    }
}

@media (max-width: 480px) {
    .section-title {
        font-size: 32px;
        line-height: 1.2;
    }

    .section-subtitle {
        font-size: 16px;
        padding: 0 10px;
    }

    .title-underline {
        width: 80px;
        height: 3px;
        margin-top: 20px;
    }
}