/* src/index.css yoki global.css */
@font-face {
  font-family: 'TT Interfaces';
  src: url('/fonts/TT-Interfaces.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'TT Interfaces', sans-serif;
  font-family: "SF Pro Display, sans-serif";
  background-color: #090A0E;
  box-sizing: border-box;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.vypex-footer {
  overflow: hidden;
  width: 100%;
  padding: 80px 24px 40px;
  box-sizing: border-box;
}